<div id="info-box-wrapper">
    <ul>
        <li>
            <img src="<?=SITE_TEMPLATE_PATH;?>/images/icons/consultant.png" alt="Consultant" />
            <h1>Social Media Consultant</h1>
            <p>Expert advice & guidance to suit any level of knowledge or budget. Lorem ipsum dolor...</p>
        </li>
        <li class="divider-i"></li>
        <li>
            <img src="<?=SITE_TEMPLATE_PATH;?>/images/icons/strategy.png" alt="Strategy" />
            <h1>Social Media Strategy</h1>
            <p>A blueprint for success integrating social media with business goals. Lorem ipsum dolor...</p>
        </li>
        <li class="divider-i"></li>
        <li>
            <img src="<?=SITE_TEMPLATE_PATH;?>/images/icons/optimization.png" alt="Optimization" />
            <h1>Social Media Optimization</h1>
            <p>Outsourced social media expertise that acts as an extension of the team. Lorem ipsum dolor...</p>
        </li>
        <li class="divider-i"></li>
        <li>
            <img src="<?=SITE_TEMPLATE_PATH;?>/images/icons/screen.png" alt="Content" />
            <h1>Content Development</h1>
            <p>Articles, Blogs, Video, Apps - content gives people a reason to share. Lorem ipsum dolor...</p>
        </li>
    </ul>
</div>
       <!-- Info Box Wrapper Ends -->
       <div class="seperator"></div>
       <!-- Content Wrapper Starts -->
       <div id="content-wrapper">
        <!-- Content Left Part Starts -->
        <ul>
          <li class="content">
            <div class="seperator-c">
              <h1>About SMA (Social Media Agency)</h1>
            </div>
            <p class="left">SMA framework is developed by Codeslab - a leading provider of UI components for web, desktop and mobile applications. Trusted by over 10,000 customers worldwide for our devotion to quality and best technical support, SMA helps professionals maximize their productivity and "<a href="#" class="left">deliver more than expected</a>" every day.</p>
          </li>
          <!-- Content Left Part Ends -->
          <li class="divider-c"></li>
          <!-- Content Middle Part Ends -->
          <!-- Content Right Part Starts -->
          <li class="content">
            <div class="seperator-c">
              <h1>Recent Clients</h1>
            </div>
            <div id="images" class="hover">
              <a href="#"><img src="images/clients/1socialc.png" alt="Social" style="margin-left: 0px;" /></a>
              <a href="#"><img src="images/clients/2socials.png" alt="Socials" /></a>
              <a href="#"><img src="images/clients/3cyner.png" alt="Cyner" /></a>
              <a href="#"><img src="images/clients/4angel.png" alt="Angel" /></a>
            </div>
            <p class="right" style="margin-left: 5px;">SMA framework is developed by Codeslab - a leading provider of <a href="#">UI components</a>.</p>
          </li>
          <!-- Content Right Part Ends -->
        </ul>
       </div>
       <!-- Content Wrapper Ends -->
<!-- Footer Info Block Starts -->


<!-- Footer Info Block Ends -->
<div id="f-info-block-wrapper">
    <div class="seperator-f">
        <h1>Our Latest Projects</h1>
    </div>
    <ul class="hover">
        <li>
            <a href="#"><img src="<?=SITE_TEMPLATE_PATH;?>/images/project1.png" alt="project 1"/></a>
            <h5><a href="#">SMA framework is developed</a></h5>
            <p>by Codeslab UI components</p>
        </li>
        <li>
            <a href="#"><img src="<?=SITE_TEMPLATE_PATH;?>/images/project2.png" alt="project 2" /></a>
            <h5><a href="#">SMA framework is developed</a></h5>
            <p>by Codeslab UI components</p>
        </li>
        <li>
            <a href="#"><img src="<?=SITE_TEMPLATE_PATH;?>/images/project3.png" alt="project 3" /></a>
            <h5><a href="#">SMA framework is developed</a></h5>
            <p>by Codeslab UI components</p>
        </li>
        <li>
            <a href="#"><img src="<?=SITE_TEMPLATE_PATH;?>/images/project4.png" alt="project 4" /></a>
            <h5><a href="#">SMA framework is developed</a></h5>
            <p>by Codeslab UI components</p>
        </li>
    </ul>
</div>
<div class="seperator"></div>